NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_SESSION_COOKIE_NAME=ttf_admin_session
FIREBASE_SESSION_EXPIRES_IN=432000000
ADMIN_EMAILS=founder@example.com
NEXT_PUBLIC_ADSENSE_CLIENT_ID=ca-pub-4871923530747843
NEXT_PUBLIC_ADSENSE_AUTO_ADS_ENABLED=true
